<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<h1 >{{msg}}</h1>
<input type="text" v-model="msg">
    <hello></hello>
    <hello></hello>
    <hello></hello>
</div>
<script src="node_modules/vue/dist/vue.js">

</script>
<script>
    (function () {
        let h1 = {
            type:"h1",
            props:""
        }

        // 组件化
        let hello = {
            template:`
           <div>
           <h1 >{{msg}}</h1>
    <input type="text" v-model="msg">
</div>`,
            data(){
                return{
                    msg:"ddds"
                }
            }
        }


        new Vue({
            el:"#app",
            data:{
                msg:"yulinYan"
            },
            components:{
                hello
            }
        })
    })()
</script>
</body>
</html>